.usa-header-slim {
  background-color: $color-primary-darkest;

  .usa-logo {
    @include media($nav-width) {
      margin-bottom: 1.5rem;

    }
    margin-top: 1.5rem;
    margin-bottom: 0;
    a {
      color: $color-white;
    }

    .usa-logo-text {
      font-family: $font-serif;
      @include media($nav-width) {
        font-size: 2.6rem;
      }
      line-height: 1.3;
    }
  }
  .usa-navbar {
    border-bottom: none;
  }

  .usa-nav {
    @include media($nav-width) {
      .usa-button {
        width: auto;
        color: $color-white;
      }
  }
}

  .usa-nav-secondary-links {
    li:not(:last-child)::after {
      content: none;
      padding: 0;
    }
  }
  .usa-search {
    margin-top: .9rem;
  }
  .usa-header-search-button {
    color: #fff;
    background-image: url('uswds/img/search.svg');
  }
}
