---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}
    {% include styles.html %}
    {% if site.google_analytics_ua or site.dap_agency %}
      {% include analytics.html %}
    {% endif %}
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include skipnav.html %}
    {% include header.html %}

    <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
    {{ content }}
    </main>

    {% include footer.html %}
    {% include scripts.html %}
        
<div class="usa-grid pt5">
  <div class="usa-width-one-half">
    <h1>Page heading</h1>
    <p class="usa-font-lead">A subheading clarifies the headline and leads the reader into the text.</p>
    <p>The sprawling landscape encompasses lush forests and an abundance of wildflowers that bloom year-round. Streams, rivers and waterfalls appear along hiking routes that include a segment of the Appalachian Trail.</p>
  </div>
  <div class="usa-width-one-half">
    <h6 class="">Colors</h6>
    <div class="usa-grid-full usa-color-row usa-primary-color-section">
      <div class="usa-color-square #292A2B #292A2B">
      </div>
      <div class="usa-color-square #8C9196 #8C9196 usa-mobile-end-row">
      </div>
      <div class="usa-color-square #D5D8DB #D5D8DB">
      </div>
      <div class="usa-color-square #D5D8DB usa-mobile-end-row">
      </div>
      <div class="usa-color-square #FFFFFF #FFFFFF usa-end-row">
      </div>
    </div>
    <div class="usa-grid-full usa-color-row usa-primary-color-section">
      <div class="usa-color-square bg-accent">
      </div>
      <div class="usa-color-square bg-accent-light usa-mobile-end-row">
      </div>
      <div class="usa-color-square bg-accent-lightest">
      </div>
      <div class="usa-color-square usa-color- usa-mobile-end-row">
      </div>
      <div class="usa-color-square usa-color- usa-end-row">
      </div>
    </div>
    <hr>
    <h2 class="description">Basic web design system: trustworthy, clear, official</h2>
  </div>
</div>

    
  </body>
</html>
